<div *ngIf="album">
  <h2>{{ album.title }}</h2>

  <img [src]="'assets/images/' + album.image" width="200" />

  <p><strong>Artist:</strong> {{ album.artist }}</p>
  <p><strong>Year:</strong> {{ album.year }}</p>
  <p><strong>Description:</strong> {{ album.description }}</p>

  <h3>Tracks</h3>

  <div *ngIf="album.tracks && album.tracks.length > 0; else noTracks">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Video</th>
          <th>Lyrics</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of album.tracks">
          <td>{{ track.number }}</td>
          <td>{{ track.title }}</td>
          <td>
            <a [href]="track.video" target="_blank">Watch</a>
          </td>
          <td>{{ track.lyrics }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noTracks>
    <p>No tracks available.</p>
  </ng-template>
</div>